<nav class="navbar navbar-default" id="footer">
  <div class="container-fluid">
    <p class="navbar-text navbar-right">
        <small>generate Cucumber HTML reports via:&nbsp;</small>
        <a class="navbar-link" href="https://github.com/ess-acppo">Check us out on GITHUB </a> |
        &nbsp;&nbsp;
    </p>
  </div>
</nav>
